body {
    text-align: center;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    background-color: black;
    color: beige;
    margin: 70px auto;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    background-image: url("cobwebs.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right; 
}

a {
    color:aquamarine;
}
a:hover {
    color: pink;
}